.chats_block {

    position: relative;
    width: 250px;
    background-color: #F3F3F3;
    height: 100vh;

}

.chats_block_header {
    display: flex;
    justify-content: center;
    height: 140px;
}

.chats_block_header_title {
    margin-top: 40px;
    font-family: 'Open Sans', sans-serif;

}